

body {
    margin: 0;
    background-color: var(--background);
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
        Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
        --background: #f5f5f5;
        --maincolor: #fcd2d6 ;
        --textcolor: #b11724;
    display: flex;
    justify-content: space-around;
    height: 100vh;
    align-items: center;
}

h1{
    font-family: bely-display, sans-serif; 
    font-weight: 400;
    font-size: 70px;
    color: #f45b69;
    width: 40vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
#main {
    border-radius: 8px;
    position: relative;
    height: 340px;
    width: 280px;
    background-color: var(--background);
    border: var(--maincolor) 1px solid;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-shadow: 0 0 5px 1px var(--maincolor);
    margin-right : 150px;
}
h2 {
    margin-top: 8%;
    color: var(--textcolor);
    text-transform: uppercase;
    width: 50%;
    justify-content: center;
    display: flex;
    border-bottom: var(--maincolor) 1px solid;
}
span {
    margin-top: 3%;
    color: var(--textcolor);
    text-transform: uppercase;
}
input {
    height: 20px;
    margin-top: 3%;
    background-color: var(--background);
    border: var(--maincolor) 1px solid;
    border-radius: 10px;
    color: --textcolor;
    width: 180px;
    font-size: 14px;
}
a {
    color: #978897;
    position: absolute;
    text-decoration: none;
    font-size: 13px;
    bottom: 2px;
    left: 5px;
}
input[type="button"]{
    display: none;
}
label{
    margin-top: 5%;
    color: #f45b69;
    font-size: 30px;
    border: var(--maincolor) 1px solid;
    border-radius: 50%;
    padding: 0px 6px 2px 6px
}
.error_message{
    width: max-content;
    height: max-content;
    color: var(--textcolor);
    position: absolute;
    top: 30%;
    background: none;
}

/*    nav    */

#mainNav{
    position: fixed;
    background-color: #272b2f;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    right: -370px;
    top: 10px;
    transition: 0.5s;
    z-index: 1;
}
#mainNav svg{
    color: white;
    font-size: 20px
}
#mainNav > a,#mainNav span{
    color: white;
    text-decoration: none;
    font-size: 20px;
    padding: 5px 10px;
}
#mainNav:hover{
    right: -10px;
    top: 10px
}
#mainNav > a:hover,#mainNav span:hover{
    border-bottom: 2px solid var(--mainColor)
}
.contactNav{
    display: none;
    position: absolute;
    flex-direction: column;
    background-color: #272b2f;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    right: 17px;
    top: 39px;
    padding: 5px
}
.contactNav:hover{
    display: flex;
}
.contactNav a:hover{
    color: var(--mainColor);
}
.contactNav a{
    color: white;
    padding: 5px;
    text-decoration: none
}
#mainNav span:hover ~ .contactNav{
    display: flex
}

/*    main   */